# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Env files
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log
